

<html>
<Body>
<h2>Verfahrensregister</h2>

<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">

<table>
  <tr>
  <th>
  Id
</th>
  <th>
    Name
  </th>
  <th>
Verantwortlicher
  </th>
  </tr>
  <tr *ngFor="let verfahren of verfahren">
  <td>{{ verfahren.Id }}</td>    
<td>{{ verfahren.name }}</td>
<td>{{ verfahren.verantwortlicher }}</td>
  </tr>

</table>

<script>
function myFunction() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("info-box");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
  }
}
</script>

</Body>
</html>